<h1><%= @list.name %></h1>

<p><%= link_to "Return to lists", lists_path %> </p>

<p><%= link_to "Edit list item", edit_list_path(@list) %> </p>

<p><%= link_to "DELETE ITEM", list_path(@list),
                              :data => {:confirm => "You sure?",
                                        :method => "delete"} %> </p>
